<html>

    <head>
        <title></title>
        <meta charset="utf-8" />
        {% load static %}
        <!-- 载入 Material Design Lite 库 -->
        <link rel="stylesheet" href="{% static 'mdl/material.css' %}">
        <script src="{% static 'mdl/material.js' %}"></script>
        <link rel="stylesheet" href="{% static 'mdl/icon.css' %}">
        <!-- 载入 Vue -->
        <script src="{% static 'vue/vue.js' %}"></script>
        <!-- 载入 axios -->
        <script src="{% static 'axios/axios.js' %}"></script>
        <style>
            .my_background {
                background-repeat: no-repeat;
                background-size: cover;
                background-position:center;
                background-attachment: fixed;
                height:400px;
                width:500px;
                background-image:url("{% static 'res/gallery_panorama.jpg' %}");
            }
        </style>
    </head>


    <body class="my_background">
        <!-- 模板样式参考自 https://getmdl.io/templates/portfolio/index.html -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row portfolio-logo-row">
                    <span class="mdl-layout__title">
                        <span class="mdl-layout__title">{{ site_name }}</span>
                    </span>
                </div>

                <!-- 顶部导航栏 -->
                <div class="mdl-layout__header-row mdl-js-ripple-effect mdl-color--primary-dark mdl-js-ripple-effect--ignore-events">
                    {% block navigation %}
                    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                        <a class="mdl-navigation__link is-active" href="{% url 'gallery:index' %}">Home Page</a>
                        {% if request.user.is_authenticated %}
                            <a class="mdl-navigation__link" href="{% url 'gallery:dashboard:index' %}">{{ request.user.username }}: Dashboard</a>
                            <a id="logout_div" v-on:click="logout_func" class="mdl-navigation__link" href="#">[[ text ]]</a>
                            <script>
                            // 登出功能
                            var logout_app = new Vue({
                                delimiters: ['[[', ']]'],
                                el: '#logout_div',
                                data: {
                                    text: 'Logout'
                                },
                                methods: {
                                    logout_func: function () {
                                        // 显示进度条
                                        progress_bar_app.show = true
                                        this.text = 'Waiting...'
                                        axios.get("{% url 'gallery:api:logout' %}")
                                            .then(function(response) {
                                                console.log(response)
                                                // 登出成功，刷新页面
                                                location.reload()
                                            })
                                            .catch(function (error) {
                                                console.log(error)
                                                if (error.response) {
                                                    showSnackbar(error.response.data['error_message'])
                                                } else {
                                                    showSnackbar(error)
                                                }
                                                progress_bar_app.show = false
                                                logout_app.text = 'Logout'
                                            })
                                    }
                                }
                            })
                            </script>
                        {% else %}
                            <a class="mdl-navigation__link" href="{% url 'gallery:login' %}">Login</a>
                            <a class="mdl-navigation__link" href="{% url 'gallery:signup' %}">Sign up</a>
                        {% endif %}
                    </nav>
                    {% endblock %}
                </div>

                <!-- Material Design Lite 的进度条，snackbar，对话框组件-->
                {% include 'gallery/mdl_components.html' %}
            </header>

            <main class="mdl-layout__content">
                <!-- 主要内容 -->
                {% block content %}
                {% endblock %}
            </main>

            <!-- 页脚 -->
            <footer class="mdl-mini-footer">
                <!-- 页脚左侧 -->
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">{{ site_name }}</div>
                </div>
                <!-- 页脚右侧 -->
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>

        </div>
    </body>

    {% block script %}
    {% endblock %}

</html>
