<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    {% load static %}
    <!-- 载入 Material Design Lite 库 -->
    <link rel="stylesheet" href="{% static 'mdl/material.css' %}">
    <script src="{% static 'mdl/material.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- 载入 Vue -->
    <script src="{% static 'vue/vue.js' %}"></script>
    <!-- 载入 axios -->
    <script src="{% static 'axios/axios.js' %}"></script>

</head>


<body>
    <!-- 模板样式参考自 https://getmdl.io/templates/portfolio/index.html -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <span class="mdl-layout__title">{{ site_name }}</span>
                </span>
            </div>

            <!-- 顶部导航栏 -->
            <div class="mdl-layout__header-row">
                {% block navigation %}
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link is-active" href="{% url 'gallery:index' %}">Home Page</a>
                    {% if request.user.is_authenticated %}
                        <a class="mdl-navigation__link" href="{% url 'gallery:dashboard:index' %}">{{ request.user.username }}: Dashboard</a>
                        <a id="logout_div" v-on:click="logout_func" class="mdl-navigation__link" href="#">[[ text ]]</a>
                        <script>
                        // 登出功能
                        var logout_app = new Vue({
                            delimiters: ['[[', ']]'],
                            el: '#logout_div',
                            data: {
                                text: 'Logout'
                            },
                            methods: {
                                logout_func: function () {
                                    // 显示进度条
                                    progress_bar_app.hidden = false
                                    this.text = 'Waiting...'
                                    axios.post("{% url 'gallery:api:logout' %}", {})
                                    .then(function(response) {
                                        console.log(response)
                                        // 登出成功，刷新页面
                                        location.reload()
                                    })
                                    .catch(function (error) {
                                        console.log(error)
                                        if (error.response) {
                                            showSnackbar(error.response.data['error_message'])
                                        } else {
                                            showSnackbar(error)
                                        }
                                        progress_bar_app.hidden = true
                                        this.text = 'Logout'
                                    })
                                }
                            }
                        })
                        </script>
                    {% else %}
                        <a class="mdl-navigation__link" href="{% url 'gallery:login' %}">Login</a>
                        <a class="mdl-navigation__link" href="{% url 'gallery:signup' %}">Sign up</a>
                    {% endif %}
                </nav>
                {% endblock %}
            </div>

            <!-- MDL 风格的消息提示框 snackbar -->
            <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
            <script>
                var snackbarContainer = document.querySelector('#snackbar')
                var showSnackbar = function (text) {
                    snackbarContainer.MaterialSnackbar.showSnackbar({
                        message: text,
                    })
                }
            </script>

            <!-- MDL 风格的对话框 dialog -->
            <dialog id="dialog_div" class="mdl-dialog">
                <p class="mdl-dialog__title">[[ heading ]]</p>
                <div class="mdl-dialog__content">
                    <p>
                        [[ message ]]
                    </p>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-on:click="dialog_close_onclick" type="button" class="mdl-button mdl-button--raised mdl-button--colored">
                        Finish
                    </button>
                </div>
            </dialog>
            <script>
                var dialog_app = new Vue({
                    delimiters: ['[[', ']]'],
                    el: '#dialog_div',
                    data: {
                        heading: '',
                        message: '',
                    },
                    methods: {
                        show_dialog: function () {
                            this.$el.showModal()
                        },
                        dialog_close_onclick: function () {
                            this.$el.close()
                            if (this.finish_fallback) {
                                this.finish_fallback()
                            }
                        },
                    }
                })
                var showDialog = function (heading, message) {
                    dialog_app.heading = heading
                    dialog_app.message = message
                    dialog_app.show_dialog()
                }
            </script>

            <!-- MDL 风格位于顶部的加载进度条 -->
            <div id="progress_bar" v-bind:hidden="hidden" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <script>
                // 调用方法：
                // progress_bar_app.hidden = false // 显示进度条
                // progress_bar_app.hidden = true  // 隐藏进度条
                var progress_bar_app = new Vue({
                    delimiters: ['[[', ']]'],
                    el: '#progress_bar',
                    data: {
                        hidden: true
                    }
                })
            </script>
        </header>

        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <!-- 主要内容 -->
                {% block content %}
                <!-- 样例 -->
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="images/example-work01.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Blog template</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
                    </div>
                </div>
                {% endblock %}

            </div>
        </main>

        <!-- 页脚 -->
        <footer class="mdl-mini-footer">
            <!-- 页脚左侧 -->
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">{{ site_name }}</div>
            </div>
            <!-- 页脚右侧 -->
            <div class="mdl-mini-footer__right-section">
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>

    </div>
</body>

{% block script %}
{% endblock %}

</html>