{% extends "gallery/base.html" %}


{% block content %}
    <div class="mdl-grid">
        <div id="signup_table" class="mdl-cell mdl-grid" style="width: max-content; margin: auto;">
            <table v-show="signup_form_seen" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <strong>Sign Up</strong>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        Sign up as:
                    </td>
                    <td>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="select-user_type-artist">
                            <input class="mdl-radio__button" id="select-user_type-artist" v-model="user_type"
                                   type="radio" value="artist">
                            <span class="mdl-radio__label">Artist</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="select-user_type-teacher">
                            <input class="mdl-radio__button" id="select-user_type-teacher" v-model="user_type"
                                   type="radio" value="teacher">
                            <span class="mdl-radio__label">Teacher</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="select-user_type-stuff">
                            <input class="mdl-radio__button" id="select-user_type-stuff" v-model="user_type"
                                   type="radio" value="stuff">
                            <span class="mdl-radio__label">Stuff</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="select-user_type-admin">
                            <input class="mdl-radio__button" id="select-user_type-admin" v-model="user_type"
                                   type="radio" value="superuser">
                            <span class="mdl-radio__label">Admin</span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        Describe: [[ user_type_text ]]
                    </td>
                </tr>
                <tr v-show="teacher_group_show">
                    <td class="mdl-data-table__cell--non-numeric">
                        Belong to scene:
                    </td>
                    <td>
                        <select v-model="teacher_group_id">
                            <option v-for="teacher_group in teacher_group_list" v-bind:value="teacher_group.id">
                                [[ teacher_group.name ]]
                            </option>
                        </select>
                    </td>
                </tr>
                <tr v-show="stuff_group_show">
                    <td class="mdl-data-table__cell--non-numeric">
                        Belong to exhibition:
                    </td>
                    <td>
                        <select v-model="stuff_group_id">
                            <option v-for="stuff_group in stuff_group_list" v-bind:value="stuff_group.id">
                                [[ stuff_group.name ]]
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="username" type="text" name="username" class="mdl-textfield__input">
                            <label for="username" class="mdl-textfield__label">Username</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="password" type="password" name="password" class="mdl-textfield__input">
                            <label for="password" class="mdl-textfield__label">Password</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="re_password" type="password" name="re_password" v-on:keyup.enter="signup_button_onclick"
                                   class="mdl-textfield__input">
                            <label for="re_password" class="mdl-textfield__label">Type Your Password Again</label>
                        </div>
                    </td>
                </tr>
                <tr v-show="error_hint_show">
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        [[ error_hint_text ]]
                    </td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{% url 'gallery:index' %}">Lost password?</a>
                    </td>
                    <td>
                        <button
                                v-on:click="signup_button_onclick"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                            Submit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var signup_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#signup_table',
            data: {
                error_hint_show: false,
                error_hint_text: '',
                username: '',
                password: '',
                re_password: '',
                signup_form_seen: true,
                user_type: '', // 用户类型，用于api提交
                user_type_dict: { // 描述文本在这里
                    'artist': 'Can upload models',
                    'teacher': 'Can modify the scene and all items in it',
                    'stuff': 'Can control all scene',
                    'superuser': 'Site administrator',
                },
                teacher_group_text: '',
                teacher_group_list: [],
                teacher_group_id: null,
                stuff_group_text: '',
                stuff_group_list: [],
                stuff_group_id: null,
            },
            methods: {
                signup_button_onclick: function () {

            // 检查密码匹配
            if (!this.check_password_match()) {
                return
            }
            // 检查有无选中 teacher 对应的 scene
            if (this.user_type === 'teacher' && this.teacher_group_id == null) {
                this.error_hint_text = 'Please select a scene!'
                this.error_hint_show = true
                return
            }
            // 检查有无选中 stuff 对应的 exhibition
            if (this.user_type === 'stuff' && this.stuff_group_id == null) {
                this.error_hint_text = 'Please select an exhibition!'
                this.error_hint_show = true
                return
            }
            // 显示进度条
            progress_bar_app.show = true
            // 提交注册申请
            axios.post('{% url "gallery:api:signup" %}', {
                'username': this.username,
                'password': this.password,
                'user_type': this.user_type,
                'teacher_group_id': this.teacher_group_id,
                'stuff_group_id': this.stuff_group_id,
            })
            .then(function (response) {
                // 隐藏表单，显示信息
                signup_app.signup_form_seen = false
                // 显示对话框
                dialog_app.redirect = '{% url "gallery:index" %}'
                showDialog('Success', 'Signup application submitted. ' +
                'Please wait for administrators to confirm. ' +
                'Thank you')

                        })
                        .catch(function (error) {
                            errorDialog(error)
                        })
                        .finally(function (error) {
                            // 隐藏进度条
                            progress_bar_app.show = false
                        })
                },
                check_password_match: function () {
                    // 如果密码为空则不进行检查
                    if (!this.password || !this.re_password) {
                        return
                    }
                    // 如果密码相匹配则设置this.password_not_match_hidden为true隐藏提示
                    // 反之亦然
                    if (this.password !== this.re_password) {
                        this.error_hint_text = 'Your password do not match!'
                        this.error_hint_show = true
                        return false
                    }
                    // 密码检查通过
                    this.error_hint_show = false
                    return true
                },
                teacher_group_onclick: function (teacher_group_selected) {
                    this.teacher_group_id = teacher_group_selected.id
                    this.teacher_group_text = teacher_group_selected.name
                }
            },
            computed: {
                user_type_text: function () {
                    return this.user_type_dict[this.user_type]
                },
                teacher_group_show: function () {
                    return this.user_type === 'teacher'
                },
                stuff_group_show: function () {
                    return this.user_type === 'stuff'
                },
            },
            watch: {
                password: function () {
                    this.check_password_match()
                },
                re_password: function () {
                    this.check_password_match()
                },
            },
            created: function () {
                progress_bar_app.show = true
                axios.get('{% url "gallery:api:get_teacher_group_list" %}')
                    .then(function (response) {
                        signup_app.teacher_group_list = response.data['teacher_group_list']
                    })
                    .catch(function (error) {
                        errorDialog(error)
                    })
                    .finally(function () {
                        progress_bar_app.show = false
                    })
		axios.get('{% url "gallery:api:get_stuff_group_list" %}')
                    .then(function (response) {
                        signup_app.stuff_group_list = response.data['stuff_group_list']
                    })
                    .catch(function (error) {
                        errorDialog(error)
                    })
                    .finally(function () {
                        progress_bar_app.show = false
                    })
            },
        })
    </script>
{% endblock %}
