{% extends "gallery/base.html" %}


{% block content %}
    <div id="signup_table" class="mdl-grid">
        <div class="mdl-cell mdl-grid" style="width: max-content; margin: auto;">
            <table v-show="new_permission_show" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                    <tr>
                        <td colspan="2" class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <strong>Add New Permission</strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            User type:
                        </td>
                        <td>
                            <select v-model="new_user_type">
                            <option v-for="user_type in user_type_list" v-bind:value="user_type.user_type">
                            [[ user_type.user_type ]]
                            </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            Exhibition:
                        </td>
                        <td>
                            <select v-model="new_exhibition_id">
                            <option v-for="exhibition in exhibition_list" v-bind:value="exhibition.id">
                            [[ exhibition.name ]]
                            </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button v-on:click="new_exhibition_onclick" class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised">
                            Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-cell mdl-grid" style="width: max-content; margin: auto;">
            <table v-show="signup_form_seen" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                    <tr>
                        <td colspan="2" class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <strong>Sign Up</strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button v-on:click="show_new_permission" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                            Add Permission
                            </button>
                        </td>
                        <td>
                            <ul class="mdl-list">
                            <li v-for="permission in permission_list" class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">person</i>
                                [[ permission.user_type ]] - [[ permission.exhibition_id ]]
                                </span>
                            </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="username" type="text" name="username" class="mdl-textfield__input">
                            <label for="username" class="mdl-textfield__label">Username</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="password" type="password" name="password" class="mdl-textfield__input">
                            <label for="password" class="mdl-textfield__label">Password</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="re_password" type="password" name="re_password" v-on:keyup.enter="signup_button_onclick"
                                   class="mdl-textfield__input">
                            <label for="re_password" class="mdl-textfield__label">Type Your Password Again</label>
                            </div>
                        </td>
                    </tr>
                    <tr v-show="error_hint_show">
                        <td colspan="2" class="mdl-data-table__cell--non-numeric">
                            [[ error_hint_text ]]
                        </td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a href="{% url 'gallery:index' %}">Lost password?</a>
                        </td>
                        <td>
                            <button
                                v-on:click="signup_button_onclick"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                                Submit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var signup_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#signup_table',
            data: {
                error_hint_show: false,
                error_hint_text: '',
                username: '',

                password: '',
                re_password: '',
                signup_form_seen: true,
        user_type_list: [
            {'user_type': 'artist', 'desc': 'Can upload models'},
            {'user_type': 'stuff', 'desc': 'Can modify the scene and all items in it'},
            {'user_type': 'manager', 'desc': 'Can control all scene'},
            {'user_type': 'superuser', 'desc': 'Site administrator'},
        ],
        new_permission_show: false,
        new_exhibition_id: null,
        new_user_type: '',
        exhibition_list: [],
        permission_list: [],
            },
            methods: {
                signup_button_onclick: function () {

            // 检查密码匹配
            if (!this.check_password_match()) {
            return
            }
            // 显示进度条
            progress_bar_app.show = true
            // 提交注册申请
            axios.post('{% url "gallery:api:signup" %}', {
            'username': this.username,
            'password': this.password,
            'permission_list': this.permission_list,
            })
            .then(function (response) {
                // 隐藏表单，显示信息
                signup_app.signup_form_seen = false
                // 显示对话框
                dialog_app.redirect = '{% url "gallery:index" %}'
                showDialog('Success', 'Signup application submitted. ' +
                'Please wait for administrators to confirm. ' +
                'Thank you')
            })
            .catch(function (error) {
                errorDialog(error)
            })
            .finally(function (error) {
                // 隐藏进度条
                progress_bar_app.show = false
            })
            },
                check_password_match: function () {
                    // 如果密码为空则不进行检查
                    if (!this.password || !this.re_password) {
                        return
                    }
                    // 如果密码相匹配则设置this.password_not_match_hidden为true隐藏提示
                    // 反之亦然
                    if (this.password !== this.re_password) {
                        this.error_hint_text = 'Your password do not match!'
                        this.error_hint_show = true
                        return false
                    }
                    // 密码检查通过
                    this.error_hint_show = false
                    return true
                },
        show_new_permission: function() {
            this.new_permission_show = true
        },
        new_exhibition_onclick: function() {
            // 检查选择
            if (!this.new_user_type) {
            return
            } else {
            if (this.new_user_type != 'superuser') {
                if (this.new_exhibition_id === null) {
                return
                }
            }
            }
            this.permission_list.push({
            user_type: this.new_user_type,
            exhibition_id: this.new_exhibition_id,
            })
            this.new_permission_show = false
        },
            },
            watch: {
                password: function () {
                    this.check_password_match()
                },
                re_password: function () {
                    this.check_password_match()
                },
            },
            created: function () {
                progress_bar_app.show = true
                axios.get('{% url "gallery:api:get_exhibition_list" %}')
                    .then(function (response) {
                        signup_app.exhibition_list = response.data
                    })
                    .catch(function (error) {
                        errorDialog(error)
                    })
                    .finally(function () {
                        progress_bar_app.show = false
                    })
                axios.get('{% url "gallery:api:get_exhibition_list" %}')
                    .then(function (response) {
                        signup_app.exhibition_list = response.data
                    })
                    .catch(function (error) {
                        errorDialog(error)
                    })
                    .finally(function () {
                        progress_bar_app.show = false
                    })
            },
        })
    </script>
{% endblock %}
