{% extends "gallery/base.html" %}


{% block content %}

    <div id="signup_table" class="mdl-cell mdl-grid" style="width: max-content; margin: auto;">
        <table v-if="signup_form_seen" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <tbody>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <strong>Sign Up</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        Sign up as:
                    </td>
                    <td>
                        [[ user_type_text ]]
                        <button id="menu-user_type" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-js-menu" for="menu-user_type">
                            <li v-on:click="user_type_onclick('artist')" class="mdl-menu__item">Artist</li>
                            <li v-on:click="user_type_onclick('teacher')" class="mdl-menu__item">Teacher</li>
                            <li v-on:click="user_type_onclick('stuff')" class="mdl-menu__item">Stuff</li>
                            <li v-on:click="user_type_onclick('superuser')" class="mdl-menu__item">Administrator</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="username" type="text" name="username" class="mdl-textfield__input">
                            <label for="username" class="mdl-textfield__label">Username</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="password" type="password" name="password" class="mdl-textfield__input">
                            <label for="password" class="mdl-textfield__label">Password</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="re_password" type="password" name="re_password" class="mdl-textfield__input">
                            <label for="re_password" class="mdl-textfield__label">Type Your Password Again</label>
                        </div>
                    </td>
                </tr>
                <tr v-bind:hidden="password_not_match_hidden">
                    <td colspan="2" class="mdl-data-table__cell--non-numeric">
                        Your Password Don't Match!
                    </td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{% url 'gallery:index' %}">Lost password?</a>
                    </td>
                    <td>
                        <button
                            v-on:click="signup_button_onclick"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                            Submit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-if="finished_message_seen">
            Request submitted successfully.
        </p>
    </div>
{% endblock %}

{% block script %}
<script>
var signup_app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#signup_table',
    data: {
        password_not_match_hidden: true,
        username: '',
        password: '',
        re_password: '',
        signup_form_seen: true,
        finished_message_seen: false,
        user_type: '', // 用户类型，用于api提交
        user_type_dict: { // 描述文本在这里
            'artist': 'Can upload models',
            'teacher': 'Can modify the scene and all items in it',
            'stuff': 'Can control all scene',
            'superuser': 'Site administrator',
        },
    },
    methods: {
        signup_button_onclick: function () {

            // 检查密码匹配
            if (!this.check_password_match()) {
                return
            }
            // 显示进度条
            progress_bar_app.show = true
            // 提交注册申请
            axios.post('{% url "gallery:api:signup" %}', {
                'username': this.username,
                'password': this.password,
                'user_type': this.user_type,
            })
            .then(function (response) {
                // 隐藏表单，显示信息
                signup_app.signup_form_seen = false
                signup_app.finished_message_seen = true
                // 显示对话框
                showDialog('Success', 'Signup application submitted. ' +
                'Please wait for administrators to confirm. ' +
                'Thank you')

            })
            .catch(function (error) {
                errorDialog(error)
            })
            .finally(function (error) {
                // 隐藏进度条
                progress_bar_app.show = false
            })
        },
        check_password_match: function () {
            // 如果密码为空则不进行检查
            if (!this.password || !this.re_password) {
                return
            }
            // 如果密码相匹配则设置this.password_not_match_hidden为true隐藏提示
            // 反之亦然
            this.password_not_match_hidden= this.password === this.re_password
            return this.password_not_match_hidden
        },
        user_type_onclick: function (user_type_selected) {
            this.user_type = user_type_selected
        }
    },
    computed: {
        user_type_text: function () {
            return this.user_type_dict[this.user_type]
        }
    },
    watch: {
        password:function () {
            this.check_password_match()
        },
        re_password: function () {
            this.check_password_match()
        },
    }
})
</script>
{% endblock %}
