<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Gallery Dashboard</title>

    <!--侧边栏样式定义-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    {% load static %}
    <link rel="stylesheet" href="{% static 'mdl/material.css' %}">
    <link rel="stylesheet" href="{% static 'mdl/dashboard/style.css' %}">

    <!-- 载入 Vue -->
    <script src="{% static 'vue/vue.js' %}"></script>
    <!-- 载入 axios -->
    <script src="{% static 'axios/axios.js' %}"></script>
</head>


<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">

        <div class="mdl-layout__header-row">
            <!-- 显示Dashboard -->
            <span class="mdl-layout-title">{{ title }}</span>
            <div class="mdl-layout-spacer"></div>
            <!--  Header右侧功能 -->
            <a href="{% url 'gallery:index' %}">
                <button  class="mdl-button mdl-js-button" style="font-size:12px; color:Grey;">
                    Home
                </button>
            </a>
            <a href="{% url 'gallery:dashboard:index' %}">
                <button class="mdl-button mdl-js-button" style="font-size:12px; color:Grey;">
                    Dashboard
                </button>
            </a>
            <a href="{% url 'gallery:logout' %}">
                <button class="mdl-button mdl-js-button" style="font-size:12px; color:Grey;">
                    Logout
                </button>
            </a>
        </div>


        <!-- Material Design Lite 的进度条，snackbar，对话框组件-->
        {% include 'gallery/mdl_components.html' %}

    </header>


    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <img src="{% static 'res/user.jpg' %}" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span style="margin: auto; font-family: sans-serif;">{{ request.user.username }}</span>
            </div>
        </header>

        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="{% url 'gallery:index' %}"><i
                    class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" href="{% url 'gallery:dashboard:index' %}"><i
                    class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>Dashboard</a>
            <a class="mdl-navigation__link" href="{% url 'gallery:dashboard:all_exhibition_management' %}"><i class="mdl-color-text--blue-grey-400 material-icons"
                                           role="presentation">landscape</i>Exhibition Management</a>
            <a class="mdl-navigation__link" href="{% url 'gallery:dashboard:all_scene_management' %}"><i class="mdl-color-text--blue-grey-400 material-icons"
                                           role="presentation">landscape</i>Scene Management</a>
            <a class="mdl-navigation__link" href="{% url 'gallery:dashboard:user_management' %}"><i
                    class="mdl-color-text--blue-grey-400 material-icons" role="presentation">portrait</i>User Management</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">visibility</i>Virtual Tour</a>
            <a class="mdl-navigation__link" href="{% url 'gallery:logout' %}"><i
                    class="mdl-color-text--blue-grey-400 material-icons" role="presentation">login</i>Logout</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
    </div>

    <main class="mdl-layout__content mdl-color--grey-100">

        {% block content %}
        {% endblock %}

    </main>
</div>

<script src="{% static 'mdl/material.js' %}"></script>

</body>
</html>
