{% extends "gallery/dashboard/base.html" %}

{% block content %}
    <div id="dashboard_div" class="mdl-grid demo-content">

        <!-- Exhibition 管理卡片 -->
        <div v-if="all_exhibition_management_show" class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Exhibition Management</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    You can manage Exhibition here
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a v-bind:href="exhibition_management_url" class="mdl-button mdl-js-button mdl-js-ripple-effect">Exhibition</a>
                </div>
            </div>
        </div>

        <!-- 单个 Scene 场景管理卡片 -->
        <div v-if="scene_management_show" class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__title mdl-card--expand mdl-color--light-blue-700">
                    <h2 class="mdl-card__title-text">Scene Management</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    You can manage your scene here
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a v-bind:href="my_scene_management_url" class="mdl-button mdl-js-button mdl-js-ripple-effect">Check Scene</a>
                </div>
            </div>
        </div>

        <!-- All Scene 场景管理卡片 -->
        <div v-if="all_scene_management_show" class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__title mdl-card--expand mdl-color--light-blue-700">
                    <h2 class="mdl-card__title-text">All Scene Management</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    You can manage all scene here
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="{% url 'gallery:dashboard:all_scene_management' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">All Scene</a>
                </div>
            </div>
        </div>

        <!-- 用户注册审批卡片 -->
        <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                    <h3>UserManagement</h3>
                    <p v-show="user_management_text_show">[[ user_management_text ]]</p>
                    <ul class="mdl-list">
                        <li v-for="user in user_list" v-show="!user.user_status" class="mdl-list__item">
                            <span class="mdl-list__item-primary-content" style="color: #ece6f6">
                                <i class="material-icons mdl-list__item-icon">person</i>
                                [[ user.username ]]
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="{% url 'gallery:dashboard:user_management' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Go to checkout</a>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </div>
        </div>
    </div>


    <script>
    var dashboard_app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#dashboard_div',
        data: {
            user_type: '',
            user_list: [],
            user_management_text: '',
            user_management_text_show: true,
            all_exhibition_management_show: true,
        },
        created: function () {
            progress_bar_app.show = true
            axios.get('{% url "gallery:api:get_user_type" %}')
            .then(function (response) {
                dashboard_app.user_type = response.data['user_type']
            })
            axios.get('{% url "gallery:api:user_management_user_list" %}')
            .then(function (response) {
                dashboard_app.user_list = response.data['user_list']
                var has_user = false
                for (const user of dashboard_app.user_list) {
                    if (!user.is_active) {
                        has_user = true
                    }
                }
                if (has_user) {
                    dashboard_app.user_management_text = 'Here are some user wait to sign up, please check.'
                } else {
                    dashboard_app.user_management_text = '\nNothing to do here'
                }
            })
            .catch(function (error) {
                errorDialog(error)
            })
            .finally(function () {
                progress_bar_app.show = false
            })
        },
        computed: {
            // 只对teacher显示属于自己的scene management card
            scene_management_show: function () {
                return this.user_type === 'teacher';
            },
            // 对 stuff 和 super user 显示 all scene management 入口
            all_scene_management_show: function () {
                return this.user_type === 'stuff' || this.user_type === 'superuser';
            },
            my_scene_management_url: function () {
                return '{% url "gallery:dashboard:scene_management" %}'+ '?pk=' + '{{ my_scene_management_pk }}'
            },
            exhibition_management_url: function () {
		    return '{% url "gallery:dashboard:all_exhibition_management" %}'
            }
        }
    })
    </script>
{% endblock %}
