{% extends "gallery/dashboard/base.html" %}

{% block content %}
    <div id="scene_management_div" class="mdl-grid demo-content">
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <td colspan="100%" class="mdl-data-table__cell--non-numeric">
                            <h4>Scene Management ID: [[ scene.pk ]]</h4>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100%" class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input v-model="scene.name" class="mdl-textfield__input" id="scene_name_div" type="text">
                                <label class="mdl-textfield__label" for="scene_name_div">Scene Name</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>File</span>
                        </td>
                        <td v-show="file_span_show">
                            <span>[[ scene.file ]]</span>
                        </td>
                        <td v-show="file_field_show">
                            <input v-on:change="file_field_onchange($event)" type="file">
                        </td>
                        <td v-show="modify_button_show">
                            <button v-on:click="modify_onclick($event)"
                                    class="mdl-button mdl-button-js mdl-button--accent mdl-button--raised">
                                Modify
                            </button>
                        </td>
                        <td v-show="download_button_show">
                            <button
                                    class="mdl-button mdl-button-js mdl-button--colored mdl-button--raised">
                                Download
                            </button>
                        </td>
                        <td v-show="upload_button_show">
                            <button v-on:click="upload_onclick"
                                    class="mdl-button mdl-button-js mdl-button--colored mdl-button--raised">
                                Upload
                            </button>
                        </td>
                        <td v-show="delete_button_show">
                            <button
                                    class="mdl-button mdl-button-js mdl-button--accent mdl-button--raised">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            Manager List
                        </td>
                        <td>
                            <ul class="mdl-list">
                                <li v-for="user in user_list" class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">person</i>
                                        [[ user.username ]]
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="100%" class="mdl-data-table__cell--non-numeric">
                            <button v-on:click="save_onclick" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">
                                Save
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var url = window.location.href //获取当前url
        var dz_url = url.split('#')[0] //获取#/之前的字符串
        var cs = dz_url.split('?')[1]  //获取?之后的参数字符串
        var cs_arr = cs.split('&') //参数字符串分割为数组
        var cs={}
            for(var i=0;i<cs_arr.length;i++){//遍历数组，拿到json对象
              cs[cs_arr[i].split('=')[0]] = cs_arr[i].split('=')[1]
            }
        var scene_management_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#scene_management_div',
            data: {
                scene: {
                    pk: -1,
                    name: '......',
                    file: '',
                },
                user_list: [],
                modify_button_show: true,
                upload_button_show: false,
                download_button_show: true,
                delete_button_show: false,
                file_field_show: false,
                file_span_show: true,
                file: '',
            },
            created: function () {
                progress_bar_app.show = true
                axios.post('{% url "gallery:api:get_scene_information" %}', {
                    pk: cs['pk']
                })
                .then(function (response) {
                    scene_management_app.scene = response.data['scene']
                    scene_management_app.user_list = response.data['user_list']
                })
                .catch(function (error) {
                    errorDialog(error)
                })
                .finally(function () {
                    progress_bar_app.show = false
                })
            },
            methods: {
                save_onclick: function () {
                    progress_bar_app.show = true
                    axios.post('{% url "gallery:api:save_scene_information" %}', {
                        pk: this.scene.pk,
                        name: this.scene.name,
                    })
                    .then(function (response) {
                        showSnackbar(response.data['message'])
                    })
                    .catch(function (error) {
                        errorDialog(error)
                    })
                    .finally(function () {
                        progress_bar_app.show = false
                    })
                },
                modify_onclick: function() {
                    this.modify_button_show = false
                    this.download_button_show = false
                    this.file_span_show = false
                    this.file_field_show = true
                    this.upload_button_show = true
                    this.delete_button_show = true
                },
                upload_onclick: function (event) {
                    let formData = new FormData();
                    let data = JSON.stringify({
                        name: this.file.name
                    })
                    formData.append('file', this.file)
                    formData.append('data', data)
                    let config = {
                        headers: {'Content-Type': 'multipart/form-data'}
                    }
                    // 手写 url
                    // django 的费拉模板功能
                    // 有个锤子用
                    progress_bar_app.show = true
                    axios.post('/gallery/api/scene/' + cs['pk'] + "/file", formData, config)
                    .then(function (response) {
                        scene_management_app.scene = response.data['scene']
                        scene_management_app.file_field_show = false
                        scene_management_app.upload_button_show = false
                        scene_management_app.delete_button_show = false
                        scene_management_app.modify_button_show = true
                        scene_management_app.download_button_show = true
                        scene_management_app.file_span_show = true
                    })
                    .catch(function (error) {
                        errorDialog(error)
                    })
                    .finally(function () {
                        progress_bar_app.show = false
                    })
                },
                file_field_onchange: function (event) {
                    this.file = event.target.files[0]
                    console.log(this.file)
                }
            },

        })
    </script>
{% endblock %}
